html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #FAFAFA;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

main {
  padding: 2.77em 0 0 0;
}

.control {
}

.control {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: .7em;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  z-index: 10;
}

.control label {
  padding: 0 1em;
}

.table {
  display: flex;
  flex-flow: row nowrap;
}
.dishColumn {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;
  align-items: center;
  background-color: #ececec;
}

.dishColumn--fixed {
  position: fixed;
  top: 2.77em;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.dish {
  display: flex;
  flex-flow: column nowrap;
  width: 32em;
  margin: .1em;
  font-size: 1.6em;
  background-color: #fff;
  transition: background-color ease-in 200ms;
}

.dish:hover {
  background-color: #fef7e1;
}

.dish__text {
  display: flex;
  flex: 0 1;
  padding: 1em;
  align-items: center;
  position: relative;
}

.dish__desc,
.dish__restaurant {
  display: flex;
  flex-flow: column nowrap;
}
.dish__desc {
  flex: 1 0;
  padding: 0 1em 0 0;
}

.dish__restaurant {
  align-items: center;
  margin-right: 1em;
}

.dish__score {
  font-size: .75em;
}

.dish__deliverytime {
  font-size: .5em;
}

.dish__desc strong {
  font-size: 1.2em;
  line-height: 1.15;
}

.dish__desc p {
  margin: 0;
}

.dish__prices {
  display: flex;
  flex-flow: column nowrap;
  text-align: right;
  line-height: 1.4;
}

.dish__goalprice {
  font-weight: 200;
}

.dish__price {
  font-weight: bold;
  font-size: 1.1em;
}

.dish__tip {
  font-size: .8em;
  color: #2532cd;
}

.dish__shipping {
  font-size: .8em;
  color: red;
}

.dish__logo {
  max-width: 3.4em;
  display: inline-block;
}

.dish__image {
  height: 2.5em;
  position: relative;
  z-index: 50;
}
.dish__image:hover {
  z-index: 100;
}

.dish__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dish__image:hover img {
  width: 100%;
  height: auto;
}


